In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [5]:
df = pd.read_csv("C:/Users/mukta/Downloads/House_Price_dataset.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000,9960,3.0,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420,4.0,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2.0,1.0,1.0,yes,no,yes,no,no,2.0,no,unfurnished
541,1767150,2400,3.0,1.0,1.0,no,no,no,no,no,0.0,no,semi-furnished
542,1750000,3620,2.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
543,1750000,2910,3.0,1.0,1.0,no,no,no,no,no,0.0,no,furnished
544,1750000,3850,3.0,1.0,2.0,yes,no,no,no,no,0.0,no,unfurnished

In [6]:
print(df.isnull().sum())

price               0
area                0
bedrooms            5
bathrooms           5
stories             2
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             4
prefarea            0
furnishingstatus    0
dtype: int64

In [7]:
df.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,540.000000,540.000000,543.000000,541.000000
mean,4.766729e+06,5150.541284,2.961111,1.285185,1.804788,0.691312
std,1.870440e+06,2170.141023,0.738779,0.502464,0.869011,0.860070
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [8]:
df.shape

(545, 13)

In [9]:
df = df.fillna(df.median(numeric_only=True))
df['furnishingstatus'] = df['furnishingstatus'].fillna(df['furnishingstatus'].mode()[0])
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,yes,no,no,no,yes,2.0,yes,furnished
1,12250000,8960,4.0,4.0,4.0,yes,no,no,no,yes,3.0,no,furnished
2,12250000,9960,3.0,2.0,2.0,yes,no,yes,no,no,2.0,yes,semi-furnished
3,12215000,7500,4.0,2.0,2.0,yes,no,yes,no,yes,3.0,yes,furnished
4,11410000,7420,4.0,1.0,2.0,yes,yes,yes,no,yes,2.0,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2.0,1.0,1.0,yes,no,yes,no,no,2.0,no,unfurnished
541,1767150,2400,3.0,1.0,1.0,no,no,no,no,no,0.0,no,semi-furnished
542,1750000,3620,2.0,1.0,1.0,yes,no,no,no,no,0.0,no,unfurnished
543,1750000,2910,3.0,1.0,1.0,no,no,no,no,no,0.0,no,furnished
544,1750000,3850,3.0,1.0,2.0,yes,no,no,no,no,0.0,no,unfurnished

In [10]:
print(df.isnull().sum())

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [11]:
df['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [12]:
df['mainroad'] = df['mainroad'].map({'yes':1, 'no':0})
df['guestroom'] = df['guestroom'].map({'yes':1, 'no':0})
df['basement'] = df['basement'].map({'yes':1, 'no':0})
df['hotwaterheating'] = df['hotwaterheating'].map({'yes':1, 'no':0})
df['airconditioning'] = df['airconditioning'].map({'yes':1, 'no':0})
df['prefarea'] = df['prefarea'].map({'yes':1, 'no':0})
df['furnishingstatus'] = df['furnishingstatus'].map({'furnished':2, 'semi-furnished':1, 'unfurnished':0})
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4.0,2.0,3.0,1,0,0,0,1,2.0,1,2
1,12250000,8960,4.0,4.0,4.0,1,0,0,0,1,3.0,0,2
2,12250000,9960,3.0,2.0,2.0,1,0,1,0,0,2.0,1,1
3,12215000,7500,4.0,2.0,2.0,1,0,1,0,1,3.0,1,2
4,11410000,7420,4.0,1.0,2.0,1,1,1,0,1,2.0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2.0,1.0,1.0,1,0,1,0,0,2.0,0,0
541,1767150,2400,3.0,1.0,1.0,0,0,0,0,0,0.0,0,1
542,1750000,3620,2.0,1.0,1.0,1,0,0,0,0,0.0,0,0
543,1750000,2910,3.0,1.0,1.0,0,0,0,0,0,0.0,0,2
544,1750000,3850,3.0,1.0,2.0,1,0,0,0,0,0.0,0,0

In [13]:
sns.pairplot(df)

In [14]:
x = df[['area']]    
y = df['price']

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [16]:
model = LinearRegression()
model.fit(x_train, y_train)
y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)
print("Simple Regression Coefficient (Area):", model.coef_)
print("Intercept: ", model.intercept_)

Simple Regression Coefficient (Area): [429.22486342]
Intercept:  2546272.8839827282

In [17]:
print("Training:")
MSE = mean_squared_error(y_train, y_train_pred)
print("MSE:", MSE)
RMSE = np.sqrt(MSE)
print("RMSE:", RMSE)
R2 = r2_score(y_train, y_train_pred)
print("R^2:", R2)

Training:
MSE: 2412336636085.414
RMSE: 1553169.867105789
R^2: 0.27237053769075137

In [18]:
print("Testing:")
MSE = mean_squared_error(y_test, y_test_pred)
print("MSE:", MSE)
RMSE = np.sqrt(MSE)
print("RMSE:", MSE)
R2 = r2_score(y_test, y_test_pred)
print("R^2:",R2)

Testing:
MSE: 2820642384250.131
RMSE: 2820642384250.131
R^2: 0.3282898168070022

In [20]:
plt.scatter(x_test, y_test, color='blue', label="Actual")

plt.plot(x_test, y_test_pred, color='red', label="Predicted")
plt.xlabel("area")
plt.ylabel("price")
plt.legend()
plt.show()

C:\Users\mukta\AppData\Local\Temp\ipykernel_28588\2689760149.py:7: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [22]:
print("Enter the details to predict house price:")

area = float(input("Area (numeric): "))
predicted_price = model.predict([[area]])
print("Predicted price depending on area: ", predicted_price)

Enter the details to predict house price:

Area (numeric):  4500

Predicted price depending on area:  [4477784.76936844]

C:\Users\mukta\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [23]:
X = df.drop(columns=['price'])
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
model_multi = LinearRegression()
model_multi.fit(X_train, y_train)
y_pred_multi = model_multi.predict(X_test)

In [24]:
print("Multiple Regression Results:")
MSE = mean_squared_error(y_test, y_pred_multi)
print("MSE:", MSE)
RMSE = np.sqrt(MSE)
print("RMSE:", RMSE)
R2 = r2_score(y_test, y_pred_multi)
print("R^2:", r2_score(y_test, y_pred_multi))

Multiple Regression Results:
MSE: 1604816708917.0923
RMSE: 1266813.6046463554
R^2: 0.6178275801437823

In [38]:
import joblib
joblib.dump(model_multi, 'model.pkl')
print("Model saved successfully!")

Model saved successfully!

In [34]:
import joblib
model_multi = joblib.load('model.pkl')

print("Enter the details to predict house price:")

area = float(input("Area (numeric): "))
bedrooms = int(input("Number of bedrooms: "))
bathrooms = int(input("Number of bathrooms: "))
stories = int(input("Number of stories: "))
mainroad = int(input("Main road(yes=1/no=0): "))
guestroom = int(input("Guest room(yes=1/no=0): "))
basement = int(input("Basement(yes=1/no=0): "))
hotwaterheating = int(input("Hot water heating(yes=1/no=0): "))
airconditioning = int(input("Air conditioning(yes=1/no=0): "))
parking = int(input("Parking (number): "))
prefarea = int(input("Preferred area(yes=1/no=0): "))
furnishingstatus = int(input("Furnishing status (unfurnished=0/semi-furnished=1/furnished=2): "))

predicted_price = model_multi.predict([[area, bedrooms, bathrooms, stories, mainroad, guestroom, basement,
            hotwaterheating, airconditioning, parking, prefarea, furnishingstatus]])
print("Predicted price: ", predicted_price)

Enter the details to predict house price:

Area (numeric):  4500
Number of bedrooms:  3
Number of bathrooms:  2
Number of stories:  3
Main road(yes=1/no=0):  1
Guest room(yes=1/no=0):  1
Basement(yes=1/no=0):  1
Hot water heating(yes=1/no=0):  1
Air conditioning(yes=1/no=0):  1
Parking (number):  1
Preferred area(yes=1/no=0):  1
Furnishing status (unfurnished=0/semi-furnished=1/furnished=2):  1

Predicted price:  [8479916.404095]

C:\Users\mukta\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(